out_front
out_main
out
.DS_Store
pom.xml
*jar
lib/*
classes/*
out/*
target/*
.lein-deps-sum
.lein-repl-history
.lein-plugins/*
node_modules
app/js/
*.iml
*.ipr
*.iws
electron/*
*.nrepl-port
figwheel-server.log


.projectile
